:root {
  --branding-color: #57bbac;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
a {
  color: #47a597;
  text-decoration: none;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5px;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.text-muted {
  color: #6c757d !important;
}
.content {
  margin: 30px;
}
.img-fluid{
  margin: 30px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline1 {
  color: var(--secondary-color);
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}

/* Navbar styling */
.navbar {
  background-color: var(--branding-color);
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Aligns navbar links to the right */
}

.navbar-links li {
  margin-left: 20px; /* Adjust spacing between menu items */
}

.navbar-links li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-links li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggle {
  display: none; /* Hide toggle button by default */
  cursor: pointer;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
.social-links a {
  font-size: 30px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
input {
  appearance: none;
  width: 80%;
  height: auto;
  outline: none;
  border: none;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300px;
  letter-spacing: 0em;
  display: block;
  justify-content: center;
  text-align: left;
  background: #a6f3e7;
}
.contact-form {
  align-items: center;
  display: flex;
  flex: none;
  gap: 64px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0 240px;
  width: 100%;
}
.whatIDo {
  background-color: var(--branding-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatIDo:hover {
  transform: translateY(-5px); /* Adjust as desired */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust shadow intensity */
}

.whatIDo h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.whatIDo p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.whatIDo a {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.whatIDo a:hover {
  background-color: white;
  color: var(--branding-color);
}


.highlights {
  align-items: center;
  font-weight: bold;
  background-color: var(--branding-color);
  border-radius: 80px;
  box-shadow: 2px 2px 4px #00000040;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 9px;
  height: min-content;
  justify-content: center;
  padding: 60px 40px;
  width: min-content;
  margin-left: 70px;
  margin-bottom: 16px;
}
#top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2cb19d;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 40px;
}
.number {
  font-size: 48px;
  font-weight: 500px;
  color: rgba(18, 247, 214, 1);
}
.col img {
  border-radius: 35px;
}
.home img {
  border-radius: 70%;
  width: 300px;
  height: 350px;
}
.cot {
  position: relative;
  width: auto;
  max-width: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #57bbac; 
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.cot:hover .overlay {
  opacity: 1;
  border-radius: 0 0 18% 18%;
}
.zoom {
  transition: transform 0.2s; 
}

.zoom:hover {
  transform: scale(
    1.1
  ); 
}
.skills a {
  font-size: 60px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 20px 24px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.skills a:hover {
  color: white;
  background-color: var(--branding-color);
}


@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .nav-toggle {
        display: block; 
        cursor: pointer;
        margin-right: 20px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .navbar-links.active {
        display: block; /* Show navigation links when active */
    }

    .navbar-links ul {
        display: block;
        margin: 20px 0;
    }

    .navbar-links ul li {
        display: block;
        margin: 15px 0;
    }
    .about-section,
      .featured-projects-section,
      .contact-section {
        display: none;
      }
    .label{
      text-align: center;
    }
}

.nav-toggle {
    display: none; 
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block; 
        cursor: pointer;
        margin-right: 20px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #57bbac;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .navbar-links.active {
        display: block; /* Show navigation links when active */
    }

    .navbar-links ul {
        display: block;
        margin: 20px 0;
    }

    .navbar-links ul li {
        display: block;
        margin: 15px 0;
    }
    .about-section,
      .featured-projects-section,
      .contact-section {
        display: none;
      }
       .col-md-4 {
      margin-bottom: 15px; /* Adjust as needed */
    }
}

.card {
  background-color: var(--branding-color);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
  transform: scale(1); /* Initial scale */
}

.card:hover {
  background-color: lighten(var(--branding-color), 10%);
  transform: scale(1.05); /* Scale up on hover */
}

